<div class="container">
    <div class="row">
        <div style="visibility: visible; animation-name: fadeInLeftBig;"
             class="col-sm-12 contact section-description wow fadeInLeftBig animated animated">
            <h2 class="main">About InstaWeather</h2>

        </div>
        <p class="aboutus-p">NinjaTweetDeck is a social media dashboard application for management of Twitter accounts.
            Like other Twitter applications NinjaTweetDeck interfaces with the Twitter API to allow users to send ,receive , retweet , make favourite tweets and view profiles.
            TweetDeck's interface consists of a series of customisable columns, which can be set up to display your Twitter timeline, mentions, direct messages, lists, trends, favorites, search results, hashtags, or all tweets by or to a single user. The client uses Twitter's own automatic and invisible URL shortening whereby a link of any length will only use 23 characters of a Tweet's 140-character limit. All columns can be filtered to include or exclude words or tweets from users. Tweets can be sent immediately or scheduled for later delivery.

            Users can monitor and tweet from multiple accounts simultaneously. For added account security, users signing in with their Twitter username and password can use Twitter's own two-step verification, known to Twitter users as Login Verification
            InstaWeather is a user friendly application which help people to seamlessly search weather conditions of
            different cities through out the world.
            Customized user experience makes it divergent from other such platforms. </p>

        <p class="aboutus-p">Move ahead, use the application and see the difference!!</p>
    </div>
    <div class="row">
        <a href="javaScript:void(0);"><div class="col-md-5 col-md-push-5 followus fb">
            <span class="fa fa-md fa-facebook"></span>
        </div>
        </a>
        <a href="javaScript:void(0);">
            <div class="col-md-5 col-md-push-5 followus tw">
                <span class="fa fa-md fa-twitter"></span>
            </div>
        </a>
    </div>
</div>