<div class="container">
    <div class="row">
        <!--<div style="visibility: visible;"
             class="col-sm-12 contact section-description wow fadeInLeftBig animated animated">


        </div>-->
        <div class="section-description wow fadeInLeftBig animated animated">
            <p class="aboutus-p" style="font-family: -webkit-pictograph;color: whitesmoke;">
                <a style="color:#f5f5f5" href="/"><strong>NinjaTweetDeck</strong></a> is a social media dashboard
                application for management of Twitter accounts.
                Like other Twitter applications NinjaTweetDeck interfaces with the Twitter API to allow users to send
                ,receive , retweet , make favourite tweets and view profiles.
            </p>

            <p class="aboutus-p" style="font-family: -webkit-pictograph;color: whitesmoke;">
                <strong>NinjaTweetDeck</strong>'s interface consists of a series of customisable columns, which can be
                set up to display your
                Twitter timeline,favorites or all tweets by you or followers.
            </p>

            <p class="aboutus-p" style="font-family: -webkit-pictograph;color: whitesmoke;">
                The client uses Twitter's own
                automatic and invisible URL shortening whereby a link of any
                length will only use 23 characters of a Tweet's 140-character limit. All columns can be filtered to
                include
                or exclude words or tweets from users. Tweets can be sent immediately or scheduled for later delivery.

                Users can monitor and tweet from multiple accounts simultaneously. For added account security, users
                signing
                in with their Twitter username and password can use Twitter's own two-step verification, known to
                Twitter
                users as Login Verification
            </p>

            <p class="aboutus-p" style="font-family: -webkit-pictograph;color: whitesmoke;">Move ahead, use the
                application
                and see the difference!!</p>
        </div>
    </div>

</div>