<div class='homeDiv' ng-show="tweets">
    <div class="profile" ng-show="profile">
        <img src="{{profile.profilePicUrl}}" height="80px" width="80px">
        {{profile.username}}
        <button class="btn btn-info" ng-click="signIn()">New Tweet</button>

    </div>
    <div class="tweetDiv" ng-show="tweets">
        <h3 style="margin-top: 20px">Tweets</h3>

        <div class="innerTweetDiv">
            <table class="table table-striped">
                <tr class="table-bordered" ng-repeat="tweet in tweets track by $index">
                    <td>{{tweet.text}}
                        <br>
                        <button class="btn btn-info" ng-click="retweet(tweet.id_str)">Retweet</button>
                        <button class="btn btn-info" ng-click="favourite(tweet)">Favourite</button>
                        <div></div>

                </tr>
                </td></tr>
            </table>
        </div>

    </div>
    <div class="favouriteTweetDiv"
         ng-show="favouriteTweets">
        <h3 style="margin-top: 20px">Favourite Tweets</h3>

        <div class="innerFavouriteTweetDiv">
            <table class="table table-striped">
                <tr class="table-bordered" ng-repeat="tweet  in favouriteTweets">
                    <td>{{tweet.tweet.text}}
                        <img src="../images/star.png" height="25px" width="25px">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div align="left" id="signin" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin-left: -85px;">Compose New Tweet</h3>
            </div>
            <div class="modal-body">
                <textarea cols="30" rows="5" class="form-control" ng-model="tweetStatus"></textarea>
                <button class="btn btn-info modal-btn" ng-click="tweet()">Tweet</button>
            </div>
        </div>
    </div>
</div>