<html>
<head>

</head>
<body>
<p>
    Hi NinjaTweetDeck,
</p>
<p>
    You have a message:
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;"<i><%=message%></i>"
</p>
<p>
   From:
    <br>
    Name: <%=name%>
    <br>
    Email: <%=email%>
    <br>
    <br>
    Thank You
</p>

</body>
</html>