<!--
<div id="page-outer">
    <div id="page-container" class="AppContent  wrapper-front white">


        <div class="front-container front-container-full-signup" id="front-container">

            &lt;!&ndash;<div class="front-bg">
                <img class="front-image" src="./images/exp_wc2014_gen_couch.jpg" alt="" style="display: block;">
            </div>
&ndash;&gt;
            <div class="front-card   ">

                <div class="front-welcome">

                    <div class="front-welcome-text">
                        <h1>Welcome to NinjaTweetDeck.</h1>

                        <p>Connect with your friends — and other fascinating people. Get in-the-moment updates on
                            the
                            things
                            that interest you. And watch events unfold, in real time, from every angle.</p>
                    </div>
                    <div class="background-companion-tweets">
                    </div>

                </div>

                <div class="front-signin js-front-signin" style="width: 150px;margin-top: 100px">
                    <a href="/auth/twitter" class="btn btn-info modal-btn"><span class="fa fa-twitter"></span> Login
                        via
                        Twitter</a>
                </div>
            </div>
        </div>

    </div>
</div>-->
