<div>

    <table style="margin-left: 100px;padding: 50px">
        <tr>
            <td style="padding: 40px"> <span class="heading"
                                             style="text-align: center;font-size:30px;color: #f5f5f5;font-style: italic;margin-left: 200px;margin-top: 300px"><strong>Welcome
                to NinjaTweetDeck</strong></span>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row">

                    <a href="javaScript:void(0);">
                        <div class="col-md-5 col-md-push-5 followus tw">
                            <span class="fa fa-md fa-twitter"></span>
                        </div>
                    </a>
                </div>
            </td>
            <td style="padding: 40px"><p style="font-size: 20px;color: #f5f5f5;text-align: center">Connect with friends
                and the world around
                on NinjaTweetDeck.</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 40px">
                <table>
                    <tr style="padding: 40px">
                        <td style="padding: 40px"><img src="../images/tweet-button.jpg"
                                                       style="height: 68px;width: 142px;border-radius: 5px;"></td>
                        <td style="padding: 40px"><p style="font-size: 20px;color: #f5f5f5">See updates on your
                            timeline.</p></td>
                    </tr>
                    <tr style="padding: 40px">
                        <td style="padding: 40px"><img src="../images/ce-tweet.png"
                                                       style="height: 68px;width: 142px;border-radius: 5px;"></td>
                        <td style="padding: 40px"><p style="font-size: 20px;color: #f5f5f5">Share what's new in your
                            life on
                            your
                            timeline.</p></td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>


</div>